.header-table {
  margin: 40px 0;
  &__title {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.mdc-button:not(:disabled) {
  background-color: #6c5;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

.mdc-button::before,
.mdc-button::after {
  background-color: #6c5;
}