.table-head {
  background-color: #ddd;
  tr {
    height: 46px;
  }
  .table-head__item {
    font-size: 1rem;
    font-weight: 600;
  }
}
.table-body__item {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}